/* .main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
.Home_main{
    display: flex;
    flex-direction: row;
   
    justify-content: space-evenly;
    
    background-color: rgba(197, 114, 114, 0.485);
    

    
    flex-wrap: wrap;
    gap: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
   
   
}
.botones{
    padding-right: 1rem;
    display: flex;
    
    flex-direction: row;
  /*   background-color: rgba(197, 114, 114, 0.485); */
}
.botones span{
    padding-right: 2rem;
    padding-left: 2rem;
}