nav{
    background-color: rgba(197, 114, 114, 0.485);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    margin-right: 1rem;
}

.active_link {
    color: #0e8;
    background-color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
  }
  
.inactive_link{
    color: #BAE;
    background-color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 20px;
}